.image-stack {
    display: grid;
    position: relative;
    grid-template-columns: repeat(12, 1fr);
    margin-top: -10rem;
}

.image-stack__item--bottom {
    grid-column: 4 / -1;
    grid-row: 1;
    padding-left: 10%;
}

.image-stack__item--top {
    grid-row: 1;
    grid-column: 1 / span 8;
    padding-top: 80%;
    z-index: 1;
}